<p id="notice"><%= notice %></p>

<% if @user.avatar.attached? %>
	<image src="<%=(url_for(@user.avatar))%>">
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Posts:</strong>
  <%= @user.posts %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
