<% content_for :title do %>
  Puzzle Trader
<% end %>

<div class="columns mt-6 is-centered">

  <% @posts.each do |post| %>
    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title"> <%= post.name %> </p>
        </header>
        <div class="card-content">
          <div class="content">
            <p class="has-text-weight-bold"> Price: </p>
            <p><%= "$#{post.price}" %></p>
            <p class="has-text-weight-bold"> Description: </p>
            <p><%= post.description %></p>
            <p class="has-text-weight-bold"> Location: </p>
            <p><%= post.location %></p>
            <p class="has-text-weight-bold"> Posted At: </p>
            <p class="italic"><%= "#{time_ago_in_words(post.created_at)} ago" %></p>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to 'View', post, class: "card-footer-item" %>
          <%= link_to 'Edit', edit_post_path(post), class: "card-footer-item"  %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-footer-item"%>
        </div>
      </div>
    </div>

  <% end %>

</div>
